//Base SCSS for antumbra.io
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin transition($animations, $time, $style) {
    -webkit-transition: $animations $time $style;
       -moz-transition: $animations $time $style;
         -o-transition: $animations $time $style;
            transition: $animations $time $style;
}

@mixin background-linear-gradient($deg, $color1, $color2) {
    background: -webkit-linear-gradient($deg, $color1, $color2);
    background:    -moz-linear-gradient($deg, $color1, $color2);
    background:     -ms-linear-gradient($deg, $color1, $color2);
    background:      -o-linear-gradient($deg, $color1, $color2);
    background:         linear-gradient($deg, $color1, $color2);
}

@mixin background-size($arg) {
    -webkit-background-size: $arg;
       -moz-background-size: $arg;
         -o-background-size: $arg;
            background-size: $arg;
}

@media (min-width: 767px) {
    p {
        margin: 0 0 35px;
        margin: 0 0 2.73vw;
        font-size: 20px;
        font-size: 1.56vw;
        line-height: 1.6;
    }
}

html {
    width: 100%;
    min-height: 100%;
    height: fit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a, p, i {
    font-family: 'Open Sans', sans-serif;
}

a, h1, h2, h3, h4, h5, h6, p {
    @include transition(all, 1.2s, ease-in-out);
}

a {
    color: rgba(242, 242, 242, 1);
    &:hover, &:focus {
        text-decoration: none;
        color: rgba(253, 253, 253, 1);
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: 0;
        }
        .navbar-toggle {
            padding: 4px 6px;
            padding: .32vw .47vw;
            font-size: 16px;
            font-size: 1.25vw;
            color: rgb(187,187,187);
            &:hover, &:focus, &:active {
                outline: 0;
                color: #000;
                text-shadow: 0 0 .11em #FFF;
            }
        }
    }
    a {
        color: rgb(187,187,187);
    }
    .nav li {
        &.active {
            background-color: rgba(255, 255, 255, 0.3);
        }
        a {
            outline: none;
            &:hover, &.active {
                outline: none;
                background-color: rgba(255, 255, 255, 0.3);
            }
            &:focus {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
}

#overviewBtn, #aboutBtn, #glowVidBtn, #FAQBtn, #interestedBtn, #contactBtn,
#buyNowBtn, #blogBtn {
    color: rgb(187,187,187);
    &:hover{
        color: rgb(102,102,102);
    }
}

@media (min-width: 768px) {
    /*max size without nav issues*/
    .navbar {
        padding: 20px 0;
        padding: 1.56vw 0;
        border-bottom: 0;
        letter-spacing: .078vw;
        background: 0 0;
    }
    .top-nav-collapse {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.no-background {
    background: transparent;
}

.black-text {
    color: rgba(0,0,0,.8);
}

* {
    @include transition(all, 1.2s, ease);
    outline: none;
}
