//Base SCSS for antumbra.io
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin transition($animations, $time, $style) {
    -webkit-transition: $animations $time $style;
       -moz-transition: $animations $time $style;
         -o-transition: $animations $time $style;
            transition: $animations $time $style;
}

@mixin background-linear-gradient($deg, $color1, $color2) {
    background: -webkit-linear-gradient($deg, $color1, $color2);
    background:    -moz-linear-gradient($deg, $color1, $color2);
    background:     -ms-linear-gradient($deg, $color1, $color2);
    background:      -o-linear-gradient($deg, $color1, $color2);
    background:         linear-gradient($deg, $color1, $color2);
}

@mixin background-size($arg) {
    -webkit-background-size: $arg;
       -moz-background-size: $arg;
         -o-background-size: $arg;
            background-size: $arg;
}

@media (min-width: 767px) {
    p {
        margin: 0 0 35px;
        margin: 0 0 2.73vw;
        font-size: 20px;
        font-size: 1.56vw;
        line-height: 1.6;
    }
}

html {
    width: 100%;
    min-height: 100%;
    height: fit;
}

a, h1, h2, h3, h4, h5, h6, p, input {
    @include transition(all, 1.2s, ease-in-out);
}

.dark-text {
    color: rgba(42, 42, 42, 1);
}

.bright-text {
    color: rgb(252,252,252);
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: 0;
        }
        .navbar-toggle {
            padding: 4px 6px;
            padding: .32vw .47vw;
            font-size: 16px;
            font-size: 1.25vw;
            color: rgb(66,66,66);
            &:hover, &:focus, &:active {
                outline: 0;
                color: #000;
                text-shadow: 0 0 .11em #FFF;
            }
        }
    }
    .nav li {
        &.active {
            background-color: rgba(255, 255, 255, 0.3);
        }
        a {
            outline: none;
            &:hover, &.active {
                outline: none;
                background-color: rgba(255, 255, 255, 0.3);
            }
            &:focus {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
}

@media (min-width: 768px) {
    /*max size without nav issues*/
    .navbar {
        padding: 20px 0;
        padding: 1.56vw 0;
        border-bottom: 0;
        letter-spacing: .078vw;
        background: 0 0;
    }
    .top-nav-collapse {
        color: rgb(240,240,240);
        padding: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

a {
    color: rgb(252,252,252);
    text-decoration: none;
}

.no-background {
    background: transparent;
}

.black-text {
    color: rgba(0,0,0,.8);
}

.smooth {
    @include transition(all, 1.2s, ease-in-out);
}

* {
    outline: none;
}
