//SCSS for blog landing (timeline / index)
@mixin transition($animations, $time, $style) {
    -webkit-transition: $animations $time $style;
    -moz-transition: $animations $time $style;
    -o-transition: $animations $time $style;
    transition: $animations $time $style;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin background-linear-gradient($deg, $color1, $color2) {
    background: -webkit-linear-gradient($deg, $color1, $color2);
    background:    -moz-linear-gradient($deg, $color1, $color2);
    background:     -ms-linear-gradient($deg, $color1, $color2);
    background:      -o-linear-gradient($deg, $color1, $color2);
    background:         linear-gradient($deg, $color1, $color2);
}

@mixin background-size($arg) {
    -webkit-background-size: $arg;
    -moz-background-size: $arg;
    -o-background-size: $arg;
    background-size: $arg;
}

html, body {
    background-color: #1a1a1a;
}

h1#heading, #postListHeader {
    padding: 2%;
    color: rgba(240,240,240,.8);
    font-size: 4.5vw;
}

a#headingLink {
    @extend h1#heading;
    padding-right: 0;
    font-family: inherit;
}

#postList li {
    margin: 2%;
    font-size: 18px;
}
