//SCSS stylings for landing page
.intro {
    display: table;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    padding: 7.8vw 0;
    text-align: center;
    color: argb(0, 0, 0, 0);
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    top: 0;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        align: center;
    }
}

@media (min-width: 1300px) {
    #vid {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 0;
    }
}

@media (max-width: 1300px) {
    #vid {
        position: absolute;
        width: auto;
        max-width: 100%;
    }
}

.brand-heading {
    text-align: center;
    font-size: 32px;
    /*font-size: 2.5vw;causes issues with large displays and centering of title*/
}

.intro .intro-body {
    .brand-heading {
        font-size: 40px;
        /*    font-size: 3.122vw;*/
    }
    .intro-text {
        font-size: 18px;
        font-size: 1.41vw;
    }
}

@media (min-width: 767px) {
    .intro {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
                /*    font-size: 7.82vw ;*/
                font-weight: lighter;
                color: rgba(0, 0, 0, 1);
                text-shadow: 0 0 0.11em rgba(255, 255, 255, 1);
            }
            .intro-text {
                font-size: 25px;
                font-size: 1.95vw;
            }
        }
    }
}

.btn-circle {
    width: 70px;
    width: 5.47vw;
    height: 70px;
    height: 5.47vw;
    margin-top: 15px;
    margin-top: 1.17vw;
    padding: 7px 16px;
    padding: .55vw 1.25vw;
    border: 2px solid #fff;
    border-radius: 35px;
    border-radius: 2.73vw;
    font-size: 40px;
    font-size: 3.125vw;
    color: #fff;
    background: 0 0;
    outline: none;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover, &:focus {
        outline: 0;
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover i.animated {
        -webkit-animation-name: pulse;
        -moz-animation-name: pulse;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.content-section {
    padding-top: 7%;
}

.interested-section {
    width: 100%;
    color: #fff;
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid rgba(240, 240, 240, 0.8);
    color: rgba(232, 232, 232, 1);
    background-color: transparent;
    &:hover, &:focus {
        border: 1px solid rgba(250, 250, 250, 1);
        outline: 0;
        color: rgba(242, 242, 242, 1);
        background-color: rgba(255, 255, 255, 0.25);
    }
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
        margin-top: 1.17vw;
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        margin-bottom: 1.56vw;
        padding: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

footer {
    font-size: 11px;
    font-size: .86vw;
    padding: 25px 0;
    padding: 1.95vw 0;
    color: #FFF;
    background: rgba(115, 168, 176, 1);
    position: relative;
    p {
        margin: 0;
        font-size: 14px;
        font-size: 1.09vw;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}

img {
    &::selection, &::-moz-selection {
        background: 0 0;
    }
}

body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

#aboutBtn {
    &:hover, &:focus {
        background: rgba(61, 182, 153, 1);
    }
}

#about-transition {
    background: -webkit-linear-gradient(0deg, rgba(53, 112, 160, 1), rgba(61, 182, 153, 1));
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(0deg, rgba(53, 112, 160, 1), rgba(61, 182, 153, 1));
    /* FF3.6+ */
    background: -ms-linear-gradient(0deg, rgba(53, 112, 160, 1), rgba(61, 182, 153, 1));
    /* IE10 */
    background: -o-linear-gradient(0deg, rgba(53, 112, 160, 1), rgba(61, 182, 153, 1));
    /* Opera 11.10+ */
    background: linear-gradient(0deg, rgba(53, 112, 160, 1), rgba(61, 182, 153, 1));
    /* W3C */
    width: 100%;
    height: 250px;
    height: 19.5vw;
}

#about {
    background: rgba(61, 182, 153, 1);
    width: 100%;
    height: 110%;
    color: #F0F0F0;
    padding-top: 75px;
    padding-top: 5.86vw;
    margin-bottom: -1px;
}

#glowVid-transition {
    background: -webkit-linear-gradient(0deg, rgba(53, 112, 160, 1), rgba(61, 182, 153, 1));
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(0deg, rgba(53, 112, 160, 1), rgba(61, 182, 153, 1));
    /* FF3.6+ */
    background: -ms-linear-gradient(0deg, rgba(53, 112, 160, 1), rgba(61, 182, 153, 1));
    /* IE10 */
    background: -o-linear-gradient(0deg, rgba(53, 112, 160, 1), rgba(61, 182, 153, 1));
    /* Opera 11.10+ */
    background: linear-gradient(0deg, rgba(53, 112, 160, 1), rgba(61, 182, 153, 1));
    /* W3C */
    height: 250px;
    height: 19.5vw;
    width: 100%;
}

#glowVidSection {
    background: rgba(53, 112, 160, 1);
    width: 100%;
    height: 120%;
    padding-top: 75px;
    padding-top: 5.86vw;
    margin-top: -1px;
}

#glowVidBtn {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover, &:active {
        background: rgba(53, 112, 160, 0.7);
    }
}

#interested {
    background: rgba(183, 59, 76, 1);
    width: 100%;
    height: 120%;
    padding-top: 150px;
    padding-top: 11.7vw;
    margin-top: -1px;
    margin-bottom: -1px;
}

#interestedBtn {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover, &:active {
        background: rgba(183, 59, 76, 0.7);
    }
}

#interested-transition {
    background: -webkit-linear-gradient(0deg, rgba(183, 59, 76, 1), rgba(187, 89, 200, 1));
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(0deg, rgba(183, 59, 76, 1), rgba(187, 89, 200, 1));
    /* FF3.6+ */
    background: -ms-linear-gradient(0deg, rgba(183, 59, 76, 1), rgba(187, 89, 200, 1));
    /* IE10 */
    background: -o-linear-gradient(0deg, rgba(183, 59, 76, 1), rgba(187, 89, 200, 1));
    /* Opera 11.10+ */
    background: linear-gradient(0deg, rgba(183, 59, 76, 1), rgba(187, 89, 200, 1));
    /* W3C */
    width: 100%;
    height: 250px;
    height: 19.5vw;
}

#contact {
    background: rgba(98, 174, 77, 1);
    height: 120%;
    width: 100%;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
}

#contactBtn {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover, &:active {
        background: rgba(98, 174, 77, 0.7);
    }
}

#contact-transition {
    background: -webkit-linear-gradient(0deg, rgba(98, 174, 77, 1), rgba(183, 59, 76, 1));
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(0deg, rgba(98, 174, 77, 1), rgba(183, 59, 76, 1));
    /* FF3.6+ */
    background: -ms-linear-gradient(0deg, rgba(98, 174, 77, 1), rgba(183, 59, 76, 1));
    /* IE10 */
    background: -o-linear-gradient(0deg, rgba(98, 174, 77, 1), rgba(183, 59, 76, 1));
    /* Opera 11.10+ */
    background: linear-gradient(0deg, rgba(98, 174, 77, 1), rgba(183, 59, 76, 1));
    /* W3C */
    height: 250px;
    height: 19.5vw;
    width: 100%;
}

#hardware-transition {
    background: -webkit-linear-gradient(0deg, rgba(97, 64, 191, 1), rgba(156, 156, 156, 1));
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(0deg, rgba(97, 64, 191, 1), rgba(156, 156, 156, 1));
    /* FF3.6+ */
    background: -ms-linear-gradient(0deg, rgba(97, 64, 191, 1), rgba(156, 156, 156, 1));
    /* IE10 */
    background: -o-linear-gradient(0deg, rgba(97, 64, 191, 1), rgba(156, 156, 156, 1));
    /* Opera 11.10+ */
    background: linear-gradient(0deg, rgba(97, 64, 191, 1), rgba(156, 156, 156, 1));
    /* W3C */
    height: 250px;
    height: 19.5vw;
    width: 100%;
}

#hardware {
    background: rgba(97, 64, 191, 1);
    height: auto;
    width: 100%;
    padding-top: 75px;
    padding-top: 5.86vw;
    align: center;
    margin-top: -1px;
    margin-bottom: -1px;
}

#hardwareBtn {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover, &:focus {
        background: rgba(97, 64, 191, 1);
    }
}

#FAQ-transition {
    background: -webkit-linear-gradient(0deg, rgba(187, 89, 200, 1), rgba(97, 64, 191, 1));
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(0deg, rgba(187, 89, 200, 1), rgba(97, 64, 191, 1));
    /* FF3.6+ */
    background: -ms-linear-gradient(0deg, rgba(187, 89, 200, 1), rgba(97, 64, 191, 1));
    /* IE10 */
    background: -o-linear-gradient(0deg, rgba(187, 89, 200, 1), rgba(97, 64, 191, 1));
    /* Opera 11.10+ */
    background: linear-gradient(0deg, rgba(187, 89, 200, 1), rgba(97, 64, 191, 1));
    /* W3C */
    height: 250px;
    height: 19.5vw;
    width: 100%;
}

#FAQ {
    background: rgba(187, 89, 200, 1);
    height: auto;
    width: 100%;
    padding-top: 75px;
    padding-top: 5.86vw;
    align: center;
    margin-top: -1px;
    margin-bottom: -1px;
}

#seeTheDifference {
    background: rgba(156, 156, 156, 1);
    height: 130%;
    width: 100%;
    padding-top: 75px;
    padding-top: 5.86vw;
    padding-left: 0;
    padding-right: 0;
    align: center;
    margin-top: -1px;
    margin-bottom: -1px;
}

#seeTheDifference-transition {
    background: -webkit-linear-gradient(0deg, rgba(156, 156, 156, 1), rgba(53, 112, 160, 1));
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(0deg, rgba(156, 156, 156, 1), rgba(53, 112, 160, 1));
    /* FF3.6+ */
    background: -ms-linear-gradient(0deg, rgba(156, 156, 156, 1), rgba(53, 112, 160, 1));
    /* IE10 */
    background: -o-linear-gradient(0deg, rgba(156, 156, 156, 1), rgba(53, 112, 160, 1));
    /* Opera 11.10+ */
    background: linear-gradient(0deg, rgba(156, 156, 156, 1), rgba(53, 112, 160, 1));
    /* W3C */
    height: 250px;
    height: 19.5vw;
    width: 100%;
}

#aboutUs {
    background: rgba(115, 168, 176, 1);
    height: 130%;
    width: 100%;
    padding-top: 75px;
    padding-top: 5.86vw;
    align: center;
    margin-top: -1px;
    margin-bottom: -1px;
}

#aboutUs-transition {
    background: -webkit-linear-gradient(0deg, rgba(115, 168, 176, 1), rgba(98, 174, 77, 1));
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(0deg, rgba(115, 168, 176, 1), rgba(98, 174, 77, 1));
    /* FF3.6+ */
    background: -ms-linear-gradient(0deg, rgba(115, 168, 176, 1), rgba(98, 174, 77, 1));
    /* IE10 */
    background: -o-linear-gradient(0deg, rgba(115, 168, 176, 1), rgba(98, 174, 77, 1));
    /* Opera 11.10+ */
    background: linear-gradient(0deg, rgba(115, 168, 176, 1), rgba(98, 174, 77, 1));
    /* W3C */
    height: 250px;
    height: 19.5vw;
    width: 100%;
}

#overview {
    background: rgba(255, 212, 44, 1);
    height: 130%;
    width: 100%;
    align: center;
    padding-top: 8%;
    margin-top: 70%;
    /*to not cover the splash video*/
    margin-bottom: -1px;
    color: rgba(0, 0, 0, 1);
}

#overview-transition {
    background: -webkit-linear-gradient(0deg, rgba(61, 182, 153, 1), rgba(255, 212, 44, 1));
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(0deg, rgba(61, 182, 153, 1), rgba(255, 212, 44, 1));
    /* FF3.6+ */
    background: -ms-linear-gradient(0deg, rgba(61, 182, 153, 1), rgba(255, 212, 44, 1));
    /* IE10 */
    background: -o-linear-gradient(0deg, rgba(61, 182, 153, 1), rgba(255, 212, 44, 1));
    /* Opera 11.10+ */
    background: linear-gradient(0deg, rgba(61, 182, 153, 1), rgba(255, 212, 44, 1));
    /* W3C */
    height: 250px;
    height: 19.5vw;
    width: 100%;
}

#overviewBtn {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover, &:active {
        background: rgba(255, 212, 44, 0.7);
    }
}

#FAQBtn {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover, &:focus {
        background: rgba(187, 89, 200, 1);
    }
}

.instagram {
    &:hover, &:focus {
        color: rgba(187, 119, 62, 1);
    }
}

.pinterest {
    &:hover, &:focus {
        color: rgba(255, 25, 25, 1);
    }
}

.twitter {
    &:hover, &:focus {
        color: rgba(51, 204, 255, 1);
    }
}

.youtube {
    &:hover, &:focus {
        color: rgba(218, 38, 38, 1);
    }
}

.gplus {
    &:hover, &:focus {
        color: rgba(216, 78, 61, 1);
    }
}

.vimeo {
    &:hover, &:focus {
        color: rgba(42, 184, 232, 1);
    }
}

.facebook {
    &:hover, &:focus {
        color: rgba(59, 89, 152, 1);
    }
}

#mc_embed_signup {
    background: rgba(0, 0, 0, 0);
    clear: left;
    color: #000;
}

#mce-EMAIL {
    font: 14px Helvetica, Arial, sans-serif;
    font: 1.09vw Helvetica, Arial, sans-serif;
    text-align: center;
    border: 1px;
    padding-top: 6px;
    padding-top: .47vw;
    padding-bottom: 6px;
    padding-bottom: .47vw;
    padding-left: 12px;
    padding-left: .94vw;
    padding-right: 12px;
    padding-right: .94vw;
    border-radius: 4px;
    border-radius: .31vw;
    -moz-border-radius: 4px;
    -moz-border-radius: .31vw;
    -webkit-border-radius: 4px;
    -webkit-border-radius: .31vw;
    color: transparent;
    text-shadow: 0 0 0 #171717;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &:hover, &:focus {
        box-shadow: 0 0 0.5em 0.5em rgba(255, 255, 255, 0.5);
    }
}

* {
    outline: none;
}

.hover {
    position: relative;
    width: 100%;
}

#wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: rotate(-3deg);
    }
    50% {
        -webkit-transform: rotate(3deg);
    }
    100% {
        -webkit-transform: rotate(-3deg);
    }
}


@-moz-keyframes wobble {
    0% {
        -moz-transform: rotate(-3deg);
    }
    50% {
        -moz-transform: rotate(3deg);
    }
    100% {
        -moz-transform: rotate(-3deg);
    }
}


@-o-keyframes wobble {
    0% {
        -o-transform: rotate(-3deg);
    }
    50% {
        -o-transform: rotate(3deg);
    }
    100% {
        -o-transform: rotate(-3deg);
    }
}


@-ms-keyframes wobble {
    0% {
        -ms-transform: rotate(-3deg);
    }
    50% {
        -ms-transform: rotate(3deg);
    }
    100% {
        -ms-transform: rotate(-3deg);
    }
}


@keyframes wobble {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}


#scrollBtn {
    align: center;
    outline: none;
    color: rgba(255, 255, 255, 0.9);
    -webkit-animation: wobble 1.0s infinite;
    -moz-animation: wobble 1.0s infinite;
    -ms-animation: wobble 1.0s infinite;
    -o-animation: wobble 1.0s infinite;
    animation: wobble 1.0s infinite;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    &:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.faq_container {
    padding: 13px;
    padding: 1.02vw;
}

.faq_question {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    font-size: 1.875vw;
    &:hover, &:focus {
        color: rgba(247, 247, 247, 1);
    }
}

.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
}

.faq_answer {
    font-size: 18px;
    font-size: 1.41vw;
}

#plus1 {
    &:hover a, &:focus a {
        color: rgba(109, 228, 110, 1);
    }
}

#plus2 {
    &:hover a, &:focus a {
        color: rgba(250, 94, 106, 1);
    }
}

#plus3 {
    &:hover a, &:focus a {
        color: rgba(222, 235, 40, 1);
    }
}

#plus4 {
    &:hover a, &:focus a {
        color: rgba(215, 110, 242, 1);
    }
}

#plus5 {
    &:hover a, &:focus a {
        color: rgba(92, 240, 232, 1);
    }
}

#plus6 {
    &:hover a, &:focus a {
        color: rgba(19, 201, 101, 1);
    }
}

#plus7 {
    &:hover a, &:focus a {
        color: rgba(224, 21, 170, 1);
    }
}

#plus8 {
    &:hover a, &:focus a {
        color: rgba(243, 154, 129, 1);
    }
}

#plus9 {
    &:hover a, &:focus a {
        color: rgba(96, 197, 240, 1);
    }
}

.smooth3 {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.smooth8 {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.medium-large-text {
    font-size: 24px;
    font-size: 1.875vw;
}

.large-text {
    font-size: 32px;
    font-size: 2.5vw;
}

.medium-text {
    font-size: 18px;
    font-size: 1.41vw;
}

.huge-text {
    font-size: 42px;
    font-size: 3.28vw;
}

#glow_render {
    position: relative;
    max-width: 100%;
}

.grey {
    color: rgba(221, 221, 221, 1);
}

.videoWrapper169 {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    iframe {
        position: absolute;
        top: 10%;
        left: 10%;
        bottom: 10%;
        right: 10%;
        width: 80%;
        height: 80%;
    }
}

#glow {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    padding-top: 1%;
    h1, h3 {
        margin: 0 0 10px;
        margin: 0 0 .78vw;
    }
}

#responsiveImg, #manualImg {
    max-height: 80%;
    max-width: 100%;
}

#aboutLeft {
    float: left;
    width: 50%;
    max-height: 80%;
    max-width: 100%;
    border-right: thin solid rgba(242, 242, 242, 0.8);
    padding-right: 5%;
}

#aboutLeftBottom {
    float: left;
    width: 50%;
    height: 100%;
    border-right: thin solid rgba(242, 242, 242, 0.8);
    padding-right: 5%;
}

#aboutRight, #aboutRightBottom {
    float: right;
    width: 50%;
    height: 100%;
    padding-left: 5%;
}

#aboutContainerTop {
    height: 45%;
    margin-bottom: 5%;
}

#aboutContainerBottom {
    height: 50%;
}

.centered {
    position: relative;
    margin-bottom: 25%;
}

.fill {
    height: 100%;
    width: 100%;
}

#carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}

#carouselContainer {
    width: 85%;
    padding-left: 15%;
}

#glowVid {
    box-shadow: 0px 0px 12px 12px rgba(255, 255, 255, 0.8);
}

#topBar {
    margin-left: 10%;
    margin-right: 10%;
    width: 78%;
    padding-left: 1%;
    padding-right: 1%;
}

/*#parallax {
position : relative;
height : 100%;
width: 100%;
background-attachment : fixed;
background-position   : top center;
background-size       : cover;
}

#unlit {
height: 90%;
width:100%;
background-image : url(
https://s3.amazonaws.com/antumbra-io/unlit.png
);
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;
}

#lit {
height: 100%;
width:100%;
background-image : url(
https://s3.amazonaws.com/antumbra-io/lit.png
);
background-repeat: no-repeat;
background-position: 0px 0px, center;
background-size: 100% 100%;
}*/

.full {
    width: 100%;
    height: 100%;
}

.parallax {
    height: 150%;
    [class*="para__"] {
        position: relative;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
    }
    .para__unlit {
        height: 28%;
        border: 0px;
    }
    .para__lit {
        height: 60%;
    }
    .para__unlit {
        background-image: url(https://s3.amazonaws.com/antumbra-io/unlit.png);
    }
    .para__lit {
        background-image: url(https://s3.amazonaws.com/antumbra-io/lit.png);
    }
}

#difference-container {
    height: 90%;
    width: 100%;
}

#diffTitle {
    margin: 0px;
    font-size: 52px;
    color: rgba(21, 21, 21, 0.8);
}

#team {
    width: 100%;
    height: 30%;
}

.teamMember {
    width: 20%;
    height: 100%;
    float: left;
}

#davis!, #adam!, #nick!, #sam!, #michel! {}

#aboutUs-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100%;
}

.teamMemberImage {
    margin: 2%;
    width: 16vw;
    height: 16vw;
    overflow: hidden;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#davisFace:hover {
    box-shadow: 0 0 36px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 36px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0 36px rgba(255, 255, 255, 0.8);
}

#adamFace:hover {
    box-shadow: 0 0 36px rgba(201, 218, 154, 1);
    -webkit-box-shadow: 0 0 36px rgba(201, 218, 154, 1);
    -moz-box-shadow: 0 0 36px rgba(201, 218, 154, 1);
}

#samFace:hover {
    box-shadow: 0 0 36px rgba(166, 138, 98, 1);
    -webkit-box-shadow: 0 0 36px rgba(166, 138, 98, 1);
    -moz-box-shadow: 0 0 36px rgba(166, 138, 98, 1);
}

#nickFace:hover {
    box-shadow: 0 0 36px rgba(92, 164, 54, 1);
    -webkit-box-shadow: 0 0 36px rgba(92, 164, 54, 1);
    -moz-box-shadow: 0 0 36px rgba(92, 164, 54, 1);
}

#michelFace:hover {
    box-shadow: 0 0 36px rgba(200, 200, 200, 1);
    -webkit-box-shadow: 0 0 36px rgba(200, 200, 200, 1);
    -moz-box-shadow: 0 0 36px rgba(200, 200, 200, 1);
}

#davisFace, #adamFace, #samFace, #nickFace, #michelFace {
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

#davisFace:hover, #adamFace:hover, #samFace:hover, #nickFace:hover, #michelFace:hover {
    -moz-filter: none;
    -o-filter: none;
    -webkit-filter: none;
    filter: none;
}

#davisFaceImg, #adamFaceImg, #samFaceImg, #nickFaceImg, #michelFaceImg {
    width: 100%;
    min-height: 100%;
}

.name {
    margin: 0;
}

.title {
    margin: 0;
    font-size: 14px;
}

#fade-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: 95%;
}

#fade {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("https://s3.amazonaws.com/antumbra-io/lit.png");
}

#fadeImg {
    width: 100%;
}

.pad-top-2 {
    padding-top: 2%;
}

.pad-top-7 {
    padding-top: 7%;
}

.normal-weight {
    font-weight: normal;
}
