//SCSS stylings for landing page
@import 'bourbon/bourbon';

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($animations, $time) {
    -webkit-transition: $animations $time ease-in-out;
    -moz-transition: $animations $time ease-in-out;
    -o-transition: $animations $time ease-in-out;
    transition: $animations $time ease-in-out;
}

@mixin background-linear-gradient($deg, $color1, $color2) {
    background: -webkit-linear-gradient($deg, $color1, $color2);
    background:    -moz-linear-gradient($deg, $color1, $color2);
    background:     -ms-linear-gradient($deg, $color1, $color2);
    background:      -o-linear-gradient($deg, $color1, $color2);
    background:         linear-gradient($deg, $color1, $color2);
}

@mixin background-size($arg) {
    -webkit-background-size: $arg;
    -moz-background-size: $arg;
    -o-background-size: $arg;
    background-size: $arg;
}

@mixin background-size-2d($arg1, $arg2) {
    -webkit-background-size: $arg1, $arg2;
    -moz-background-size: $arg1, $arg2;
    -o-background-size: $arg1, $arg2;
    background-size: $arg1, $arg2;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
    box-shadow: $x, $y, $blur, $spread, $color;
    -moz-box-shadow: $x, $y, $blur, $spread, $color;
    -webkit-box-shadow: $x, $y, $blur, $spread, $color;
}

@mixin rotate($arg) {
    transform: rotate($arg);
    -o-transform: rotate($arg);
    -moz-transform: rotate($arg);
}

section.intro {
    display: table;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 15%;
    text-align: center;
    color: argb(0, 0, 0, 0);
    background-color: rgb(225,225,225);
    overflow: hidden;
    top: 0;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        align: center;
    }
}

.fadeOnLoad {
    opacity: 0.0;
    @include transition(all, 1.2s);
}

#introSubTxt {
    transform: translateY(-75%);
    padding-left: 10%;
    padding-right: 10%;
}

video#introVid {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 60%;
    transform: translateY(-35%);
    z-index: 100;
}

img#logotype {
    height: 50px;
    @include transition(all, 1.2s);
}

.margin-top-half {
    margin-top: .5%;
}

.padTopMenuItem {
    padding-top: .3%;
}

img#hiddenLogotype {
    display: none;
}

.brand-heading {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
}

#mainTitle {
    font-weight: 500;
    text-transform: uppercase;
}

.btn-circle {
    width: 70px;
    width: 5.47vw;
    height: 70px;
    height: 5.47vw;
    margin-top: 15px;
    margin-top: 1.17vw;
    padding: 7px 16px;
    padding: .55vw 1.25vw;
    border: 2px solid #fff;
    border-radius: 35px;
    border-radius: 2.73vw;
    font-size: 40px;
    font-size: 3.125vw;
    color: #fff;
    background: 0 0;
    &:hover, &:focus {
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover i.animated {
        -webkit-animation-name: pulse;
        -moz-animation-name: pulse;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.content-section {
    padding-top: 7%;
}

.interested-section {
    width: 100%;
    color: #fff;
}

.btn {
    text-transform: uppercase;
    font-weight: 400;
}

.btn-default {
    border: 1px solid rgba(240, 240, 240, 0.8);
    color: rgba(232, 232, 232, 1);
    background-color: transparent;
    &:hover, &:focus {
        color: rgba(252, 252, 252, 1);
        background-color: rgba(255, 255, 255, 0.25);
    }
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
        margin-top: 1.17vw;
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        margin-bottom: 1.56vw;
        padding: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

footer {
    font-size: 11px;
    font-size: .86vw;
    padding: 25px 0;
    padding: 1.95vw 0;
    color: #FFF;
    background: rgba(115, 168, 176, 1);
    position: relative;
    p {
        margin: 0;
        font-size: 14px;
        font-size: 1.09vw;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}

img {
    &::selection, &::-moz-selection {
        background: 0 0;
    }
}

body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

section#overview, section#about, section#glowVidSection, section#seeTheDifference,
section#hardware, section#FAQ, section#interested, section#contact, section#aboutUs {
    min-height: 100%;
    height: auto;
    width: 100%;
}

#blogBtn {
    &:hover, &:focus {
        background: rgba(1,186,103,1);
    }
}

#aboutBtn {
    &:hover, &:focus {
        background: rgba(61, 182, 228, 1);
    }
}

#buyNowBtn {
    &:hover, &:focus {
        background: rgba(200,100,20,1);
    }
}

#about {
    background: rgba(61, 182, 228, 1);
    width: 100%;
    height: 110%;
    color: #F0F0F0;
    padding-top: 75px;
    padding-top: 5.86vw;
    margin-bottom: -1px;
}

#glowVidSection {
    background: rgba(53, 112, 160, 1);
    width: 100%;
    height: 120%;
    padding-top: 75px;
    padding-bottom: 75px;
    // padding-top: 5.86vw;
    margin-top: -1px;
}

#glowVidBtn {
    &:hover, &:active {
        background: rgba(53, 112, 160, 0.7);
    }
}

#interested {
    background: rgba(252, 70, 75, 1);
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
    margin-top: -1px;
    margin-bottom: -1px;
}

#interestedBtn {
    &:hover, &:active {
        background: rgba(252, 70, 75, 0.7);
    }
}

#contact {
    background: rgba(39, 37, 38, 1);
    height: 120%;
    width: 100%;
    padding-bottom: 5%;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
}

#contactBtn {
    &:hover, &:active {
        background: rgba(39, 37, 38, 0.7);
    }
}

#hardware {
    background: rgba(97, 64, 191, 1);
    height: auto;
    width: 100%;
    padding-top: 75px;
    padding-top: 5.86vw;
    align: center;
    margin-top: -1px;
    margin-bottom: -1px;
}

#hardwareBtn {
    &:hover, &:focus {
        background: rgba(97, 64, 191, 1);
    }
}

#FAQ {
    background: rgba(39, 37, 38, 1);
    height: auto;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    align: center;
    margin-top: -1px;
    margin-bottom: -1px;
}

#seeTheDifference {
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    align: center;
    position: relative;
    z-index: 0;
    margin-top: -1px;
    margin-bottom: -1px;
}

#aboutUs {
    background: rgba(115, 168, 176, 1);
    height: 130%;
    width: 100%;
    padding-top: 75px;
    padding-top: 5.86vw;
    align: center;
    margin-top: -1px;
    margin-bottom: -1px;
}

#overview {
    background: rgba(39, 37, 38, 1);
    height: 100%;
    width: 100%;
    align: center;
    margin-bottom: -1px;
    color: rgba(0, 0, 0, 1);
}

#overviewBtn {
    &:hover, &:active {
        background: rgba(255, 212, 44, 0.7);
    }
}

#FAQBtn {
    &:hover, &:focus {
        background: rgba(39, 37, 38, 1);
    }
}

.instagram {
    &:hover, &:focus {
        color: rgba(187, 119, 62, 1);
    }
}

.pinterest {
    &:hover, &:focus {
        color: rgba(255, 25, 25, 1);
    }
}

.twitter {
    &:hover, &:focus {
        color: rgba(51, 204, 255, 1);
    }
}

.youtube {
    &:hover, &:focus {
        color: rgba(218, 38, 38, 1);
    }
}

.gplus {
    &:hover, &:focus {
        color: rgba(216, 78, 61, 1);
    }
}

.vimeo {
    &:hover, &:focus {
        color: rgba(42, 184, 232, 1);
    }
}

.facebook {
    &:hover, &:focus {
        color: rgba(59, 89, 152, 1);
    }
}

.github, .angellist {
    &:hover, &:focus {
        color: rgb(106,106,106);
    }
}

#mc_embed_signup {
    background: rgba(0, 0, 0, 0);
    color: #000;
    text-align: center;
}

#mce-EMAIL {
    text-align: center;
    border: 1px;
    padding-top: 6px;
    padding-top: .47vw;
    padding-bottom: 6px;
    padding-bottom: .47vw;
    margin-left: 25%;
    width: 50%;
    box-shadow: 0;
    @include border-radius(4px);
    color: transparent;
    text-shadow: 0 0 0 #171717;
    &:hover, &:focus {
        box-shadow: 0 0 0.5em 0.5em rgba(255, 255, 255, 0.5);
    }
}

* {
    outline: none;
}

.hover {
    position: relative;
    width: 100%;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: rotate(-3deg);
    }
    50% {
        -webkit-transform: rotate(3deg);
    }
    100% {
        -webkit-transform: rotate(-3deg);
    }
}


@-moz-keyframes wobble {
    0% {
        -moz-transform: rotate(-3deg);
    }
    50% {
        -moz-transform: rotate(3deg);
    }
    100% {
        -moz-transform: rotate(-3deg);
    }
}


@-o-keyframes wobble {
    0% {
        -o-transform: rotate(-3deg);
    }
    50% {
        -o-transform: rotate(3deg);
    }
    100% {
        -o-transform: rotate(-3deg);
    }
}


@-ms-keyframes wobble {
    0% {
        -ms-transform: rotate(-3deg);
    }
    50% {
        -ms-transform: rotate(3deg);
    }
    100% {
        -ms-transform: rotate(-3deg);
    }
}


@keyframes wobble {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}


#scrollBtn {
    align: center;
    outline: none;
    color: rgba(55, 55, 55, 0.9);
    -webkit-animation: wobble 1.0s infinite;
    -moz-animation: wobble 1.0s infinite;
    -ms-animation: wobble 1.0s infinite;
    -o-animation: wobble 1.0s infinite;
    animation: wobble 1.0s infinite;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    &:hover {
        color: rgba(175, 175, 175, 1);
    }
}

.faq {
    .faq_question {
        i {
            @include transition(all, 0.8s);
        }
        &:hover, &:active {
            i {
                color: rgb(240,70,70);
                @include rotate(90deg);
            }
        }
    }
}

.faq.open {
    i {
        color: rgb(240,70,70);
        @include rotate(90deg);
    }
}

.faq_container {
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
}

a.redOnHover {
    text-decoration: none;
    &:hover, &:focus {
        color: rgba(249,71,72, 1);
    }
}

.faq_question {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-size: 1.875vw;
    a {
        text-decoration: none;
    }
    i {
        @include rotate(45deg);
    }
}

.faq_answer_container {
    height: 0px;
    overflow: hidden;
}

.faq_answer {
    font-size: 18px;
    font-size: 1.41vw;
}

.medium-large-text {
    font-size: 24px;
}

.large-text {
    font-size: 32px;
}

.huge-text {
    font-size: 70px;
}

#glow_render {
    position: relative;
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    &.grey-white {
        color: rgba(231, 231, 231, 1);
    }
    &.grey {
        color: rgba(191, 191, 191, 1);
    }
}

.videoWrapper169 {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    iframe {
        position: absolute;
        top: 10%;
        left: 10%;
        bottom: 10%;
        right: 10%;
        width: 80%;
        height: 80%;
    }
}

#glow {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    padding-top: 1%;
    h1, h3 {
        margin: 0 0 10px;
        margin: 0 0 .78vw;
    }
}

#responsiveImg, #manualImg {
    max-height: 80%;
    max-width: 100%;
}

#aboutLeft {
    float: left;
    width: 50%;
    max-height: 80%;
    max-width: 100%;
    border-right: thin solid rgba(242, 242, 242, 0.8);
    padding-right: 5%;
}

#aboutLeftBottom {
    float: left;
    width: 50%;
    height: 100%;
    border-right: thin solid rgba(242, 242, 242, 0.8);
    padding-right: 5%;
}

#aboutRight, #aboutRightBottom {
    float: right;
    width: 50%;
    height: 100%;
    padding-left: 5%;
}

#aboutContainerTop {
    height: 45%;
    margin-bottom: 5%;
}

#aboutContainerBottom {
    height: 50%;
}

.centered {
    position: relative;
    margin-bottom: 25%;
}

#glowVid {
    box-shadow: 0px 0px 12px 12px rgba(255, 255, 255, 0.8);
}

#topBar {
    margin-left: 10%;
    margin-right: 10%;
    width: 78%;
    padding-left: 1%;
    padding-right: 1%;
}

.full {
    width: 100%;
    min-height: 100%;
}

.parallax {
    height: 150%;
    [class*="para__"] {
        position: relative;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
    }
    .para__unlit {
        height: 28%;
        border: 0px;
    }
    .para__lit {
        height: 60%;
    }
    .para__unlit {
        background-image: url(https://s3.amazonaws.com/antumbra-io/unlit.png);
    }
    .para__lit {
        background-image: url(https://s3.amazonaws.com/antumbra-io/lit.png);
    }
}

#difference-container {
    height: 100%;
    width: 100%;
    z-index: 0;
    position: relative;
}

#titleContainer {
    color: rgb(52,52,52);
    height: 0;
    z-index: 101;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    pointer-events: none;
}

#diffTitle {
    padding-top: 30%;
    margin: 0px;
    font-size: 52px;
    text-align: center;
    position: relative;
    z-index: 101;
}

#diffSubTitle {
    @extend #diffTitle;
    padding: 0px;
    opacity: 70%;
    font-size: 24px;
}

#diffSubMobileTitle {
    @extend #diffSubTitle;
    text-align: center;
    display: none;
}

#subTitleContainer {
    text-align: center;
    float: center;
    width: 100%;
}

@media (max-width: 1044px) {
    #team {
        display: none;
    }
}

@media (min-width: 1045px) {//team member info will fit
    #team {
        width: 100%;
        height: 30%;
        margin-top: 3%;
        margin-left: 3%;
    }
    .teamMemberImage {
        @include border-radius(50%);
        width: 16vw;
        height: 16vw;
        border: none;
        align: center;
    }

    #adamFace, #davisFace, #samFace, #nickFace, #michelFace {
        height: 15vw;
        width: 15vw;
        margin: 5px;
        overflow: hidden;
        @include border-radius(50%);
        @include transition(all, .8s);
    }

    #davisFace:hover {
        box-shadow: 0 0 36px rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: 0 0 36px rgba(255, 255, 255, 0.8);
        -moz-box-shadow: 0 0 36px rgba(255, 255, 255, 0.8);
    }

    #adamFace:hover {
        box-shadow: 0 0 36px rgba(201, 218, 154, 1);
        -webkit-box-shadow: 0 0 36px rgba(201, 218, 154, 1);
        -moz-box-shadow: 0 0 36px rgba(201, 218, 154, 1);
    }

    #samFace:hover {
        box-shadow: 0 0 36px rgba(166, 138, 98, 1);
        -webkit-box-shadow: 0 0 36px rgba(166, 138, 98, 1);
        -moz-box-shadow: 0 0 36px rgba(166, 138, 98, 1);
    }

    #nickFace:hover {
        box-shadow: 0 0 36px rgba(92, 164, 54, 1);
        -webkit-box-shadow: 0 0 36px rgba(92, 164, 54, 1);
        -moz-box-shadow: 0 0 36px rgba(92, 164, 54, 1);
    }

    #michelFace:hover {
        box-shadow: 0 0 36px rgba(200, 200, 200, 1);
        -webkit-box-shadow: 0 0 36px rgba(200, 200, 200, 1);
        -moz-box-shadow: 0 0 36px rgba(200, 200, 200, 1);
    }

    #davisFace, #adamFace, #samFace, #nickFace, #michelFace {
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    }

    #davisFace:hover, #adamFace:hover, #samFace:hover, #nickFace:hover, #michelFace:hover {
        -moz-filter: none;
        -o-filter: none;
        -webkit-filter: none;
        filter: none;
    }

    #davisFaceImg, #nickFaceImg, #samFaceImg, #michelFaceImg, #adamFaceImg {
        @include transition(all, .8s);
        width: 100%;
    }

    .name {
        margin: 0;
    }

    .title {
        margin: 0;
        font-size: 16px;
    }
}

.teamMember {
    float: left;
    margin-left: .125%;
    img {
        display: block;
    }
}

#aboutUs-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100%;
}

#fade {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("//s3.amazonaws.com/antumbra-io/lit.png");
    position: relative;
}

#fadeImg {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: .99;
    position: relative;
    &:hover {
        opacity: 0;
    }
}

.pad-top-2 {
    padding-top: 2%;
}

.pad-top-7 {
    padding-top: 7%;
}

.normal-weight {
    font-weight: normal;
}

* {
    outline: none;
}

#mc-embedded-subscribe {
    background-color: rgba(180, 180, 180, .8);
    border: 1px solid transparent;
    &:hover {
        background-color: rgba(40,40,40,.4);
        border: 1px solid rgba(240,240,240,.6);
    }
}

#aboutContainer {
    height: 100%;
    width: 100%;
}

#briefHistory {
    padding-top: 10%;
}

#mobileNavBtn {
    font-size: 14px;
}

#slick {
    width: 95%;
    margin: 2.5%;
    height: 95%;
    margin-bottom: 5%;
    margin-top: 0%;
}

#subAboutText {
    display: block;
    margin-top: 3%;
}

nav {
    border: none;
    @include transition(all, 1.2s);
}

#navContainer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.grey-text {
    color: rgb(152,152,152);
}

.red-text {
    color: rgb(252,70,75);
}

.blue-text {
    color: rgb(62,182,226);
}

h3#lightPurpTxt {
    color: rgba(252,252,252,.4);
}

a.light-hover {
    &:hover, &:active, &:focus {
        color: rgb(242,242,242);
    }
}

a.dark-hover {
    &:hover, &:active, &:focus {
        color: rgb(2,2,2);
    }
}

.lato {
    font-family: Lato, sans-serif;
}

.light {
    font-weight: 200;
}

.darkOnHover {
    &:hover, &:active, &:focus {
        color: rgb(5,5,5);
    }
}

.noDecoration {
    text-decoration: none;
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}
