//SCSS to modify landing page for mobile devices
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($animations, $time) {
    -webkit-transition: $animations $time ease-in-out;
    -moz-transition: $animations $time ease-in-out;
    -o-transition: $animations $time ease-in-out;
    transition: $animations $time ease-in-out;
}

@mixin background-linear-gradient($deg, $color1, $color2) {
    background: -webkit-linear-gradient($deg, $color1, $color2);
    background:    -moz-linear-gradient($deg, $color1, $color2);
    background:     -ms-linear-gradient($deg, $color1, $color2);
    background:      -o-linear-gradient($deg, $color1, $color2);
    background:         linear-gradient($deg, $color1, $color2);
}

@mixin background-size($arg) {
    -webkit-background-size: $arg;
    -moz-background-size: $arg;
    -o-background-size: $arg;
    background-size: $arg;
}

@mixin background-size-2d($arg1, $arg2) {
    -webkit-background-size: $arg1, $arg2;
    -moz-background-size: $arg1, $arg2;
    -o-background-size: $arg1, $arg2;
    background-size: $arg1, $arg2;
}

#mobileBuyBtn {
    display: block;
    min-width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    height: 8%;
    margin-top: 3%;
    background-color: #3381FF;
    @include border-radius(15px);
    &:hover, &:active, &:focus {
        color: rgb(252,252,252);
    }
}

nav {
    display: none;
}

#introVid {
    display: none;
}

a#scrollBtn {
    font-size: 64px;
}

section#overview {
    margin-top: 0%;
}

div.faq_container {
    padding: 7px;
    margin-left: 10%;
    margin-right: 10%;
}

div.faq_question {
    font-size: 16px;
}

div.faq_answer {
    font-size: 12px;
}

#mce-EMAIL {
    font-size: 14px;
    margin-left: 15%;
    width: 70%;
}

#mc-embedded-subscribe {
    width: 50%;
    font-size: 12px;
}

.btn {
    padding: 3px;
}

i.fa-5x {
    font-size: 32px;
}

ul.list-inline li {
    display: inline;
}

#aboutUs-container {
    margin: 1%;
    width: 98%;
    div.col-lg-8 {
        padding: 2px;
    }
}

#aboutUs {
    padding: 2px;
    height: 200%;
}

.aboutUsText {
    padding: 2%;
}

footer, footer p {
    font-size: 12px;
}

#introSubTxt {
    padding-top: 3%;
    transform: none;
}

#diffTitle {
    font-size: 20px;
}

#diffSubTitle {
    display: none;
}

#diffSubMobileTitle {
    display: initial;
    font-size: 15px;
}
