.faq_container
    .faq
        .faq_question.smooth3
            %a.fa.fa-plus.fa-1x.redOnHover
            %a.light.redOnHover
                #{question}
        .faq_answer_container
            .faq_answer.light
                #{answer}
