.faq_container
    .faq
        %div.faq_question.smooth3{:id=>"#{id}"}
            %a.fa.fa-plus.fa-1x
                #{question}
        .faq_answer_container
            .faq_answer
                #{answer}
