---
title: Antumbra Beta
---
%link{:href=>'/stylesheets/beta.css', :rel=>'stylesheet'}
%body
    %h1#heading.text-center
        %a#headingLink{:href=>"/"}
            Antumbra
        Beta
    %h3#welcome.text-center
        Welcome.
    %h5#dwnloadTitle.text-center
        Download Latest Client
    %ul#dwnloadList.inlineList
        %li
            %a{:href=>'//github.com/TeamAntumbra/wintumbra/releases/latest'}
                %i.fa.fa-5x.fa-windows
        %li
            %a{:href=>'//github.com/TeamAntumbra/mactumbra/releases/latest'}
                %i.fa.fa-5x.fa-apple
        %li
            %a{:href=>'//github.com/TeamAntumbra/libantumbra/releases/latest'}
                %i.fa.fa-5x.fa-linux
    %h5#sourceTitle.text-center
        Checkout the Source / Report an Issue
    %ul#sourceList.inlineList
        %li
            %a{:href=>'//github.com/TeamAntumbra/wintumbra'}
                %i.fa.fa-5x.fa-github
        %li
            %a{:href=>'//github.com/TeamAntumbra/mactumbra'}
                %i.fa.fa-5x.fa-github
        %li
            %a{:href=>'//github.com/TeamAntumbra/libantumbra'}
                %i.fa.fa-5x.fa-github
