---
title: Antumbra Development Blog
---
%link{:href=>'/stylesheets/blogLanding.css', :rel=>'stylesheet'}
%body.dark-gradient
    %h1#heading.text-center
        %a#headingLink{:href=>"//antumbra.io"}
            Antumbra
        Roadmap

    #timeline-embed
    :javascript
        var timeline_config = {
            width:              '100%',
            height:             '600',
            source:             'https://docs.google.com/spreadsheet/pub?key=0Ai5u0NF8moTWdE9OSThPaFNFTUsxTjVRbF9GVVBCb2c&output=html',
            embed_id:           'timeline-embed',               //OPTIONAL USE A DIFFERENT DIV ID FOR EMBED
            start_zoom_adjust:  '-1',                            //OPTIONAL TWEAK THE DEFAULT ZOOM LEVEL
            hash_bookmark:      true,                           //OPTIONAL LOCATION BAR HASHES
            font:               'Open-Sans',                    //OPTIONAL FONT
            lang:               'en',                           //OPTIONAL LANGUAGE
            maptype:            'watercolor'                   //OPTIONAL MAP STYLE
        }
    %script{:type=>"text/javascript", :src=>"/js/storyjs-embed.js"}
%h2#postListHeader.text-center
    Development Blog Posts
%ul#postList.text-center
    :erb
        <% blog.articles.each do |a| %>
            <li class="blogPost text-center">
                <%= link_to a.title, a %>
                </br>
                <i><small><%= a.date.strftime('%b %e %Y') %></small></i>
            </li>
        <% end %>
