---
title: Antumbra|Glow
---
%script{:src=>"https://widgets.shopifyapps.com/assets/widgets/embed/client.js",  |
    :id=>"ShopifyEmbedScript", :type=>"text/javascript"}                         |
%link{:href=>'/stylesheets/glow.css', :rel=>'stylesheet'}
%body
    :plain
        <div id="cartBtn" data-embed_type="cart" data-shop="antumbra.myshopify.com"
            data-start_toggled="false" data-checkout_button_text="Checkout"
            data-cart_button_text="Cart" data-button_text_color="f1f1f1"
            data-button_background_color="3381ff" data-background_color="ffffff"
            data-text_color="000000" data-accent_color="899ca3"></div>

    %h1#glowTitle.text-center
        Glow
    #trimetric
    #buy
        %h2.text-center.light
            Buy Yours Today
            %br/
            For $35
        %h5.text-center.light
            Ships Within Three Days
        :plain
            <div id="buyBtn" data-button_background_color="3381FF"
                data-button_text_color="F1F1F1" data-buy_button_text="Add to Cart"
                data-display_size="compact" data-embed_type="product"
                data-has_image="false" data-product_handle="glow-pre-order"
                data-product_name="Glow Pre-Order" data-redirect_to="cart"
                data-shop="antumbra.myshopify.com"></div>
        %noscript
            %a{:href=>"https://antumbra.myshopify.com/cart/889646951:1", :target=>"_blank"}
                Add to Cart
    #experience
        %h3
            Experience Content Like Never Before
        %h5
            Glow's ambient effect reduces eye strain while creating an unparalleled experience.
    #content
    -# #top
    #usbLower
    #more.text-center
        You can find out more about Glow and Antumbra
        %a{:href=>'/'}
            on our home page.
