---
    title: Antumbra - A highly customizable ambient monitor backlight.
    desc: Antumbra | Glow is a dynamic ambient backlight that can be customized for any purpose imaginable.
    keywords: Antumbra, Glow, light, AR, backlighting, experience, immersion, colorful, LED, responsive, beautiful, colors
---
%body#page-top{:data=>{:spy=>'scroll', :target=>'.navbar-fixed-top'}}
    %a{:href=>"https://plus.google.com/106064932965666182859", :rel=>"publisher"}
    %nav.navbar.navbar-custom.navbar-fixed-top{:role=>'navigation'}
        .container
            .navbar-header
                %button.navbar-toggle{:type=>'button',
                :data=>{:toggle=>'collapse', :target=>'.navbar-main-collapse'}}
                    %i.fa.fa-bars
                %a.navbar-brand.page-scroll{:href=>'#page-top'}
                    %span.light
                        Antumbra
            .collapse.navbar-collapse.navbar-right.navbar-main-collapse
                %ul.nav.navbar-nav
                    %li.hidden
                        %a{:href=>'#page-top'}
                    %li
                        %a.page-scroll#overviewBtn{:href=>'#overview'}
                            Overview
                    %li
                        %a.page-scroll#aboutBtn{:href=>'#about'}
                            About
                    %li
                        %a.page-scroll#glowVidBtn{:href=>'#glow'}
                            Glow
                    %li
                        %a.page-scroll#FAQBtn{:href=>'#FAQ'}
                            FAQ
                    %li
                        %a.page-scroll#interestedBtn{:href=>'#interested'}
                            Interested?
                    %li
                        %a.page-scroll#contactBtn{:href=>'#contact'}
                            Contact Us
                    %li
                        %a.page-scroll#buyNowBtn{:href=>'https://antumbra.myshopify.com/'}
                            Pre-Order
    #wrapper
        %header.intro
            %video
                %source{:src=>'https://s3.amazonaws.com/antumbra-io/background.webm',
                :type=>'video/webm'}
                %source{:src=>'https://s3.amazonaws.com/antumbra-io/background.mp4',
                :type=>'video/mp4'}
                %img{:src=>'https://s3.amazonaws.com/antumbra-io/poster.png',
                :alt=>'Antumbra | Glow', :type=>'image/png'}
            .intro-body
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            %h1.brand-heading
                                Antumbra
                            %a#scrollBtn.page-scroll.btn.fa.fa-angle-down.fa-5x{:href=>'#glowVid'}
        %section#overview.container.hover
            .row
                .col-lg-8.col-lg-offset-2.text-center
                    %h1
                        Don’t let eyestrain limit how long you can work or play
                    %h1.huge-text.pad-top-2
                        Fight back with Glow
                    %br
                    %h3
                        work longer, game harder, feel better.
                    %p.pad-top-7
                        Glow illuminates the wall behind your
                        monitor, creating a seamless transition from dark
                        environment to bright display.  An extension store coupled
                        with highly customizable open-source software allows you to take
                        your desk into the future, and define your computing
                        experience like never before.
