---
title: Antumbra - A highly customizable ambient monitor backlight.
desc: Antumbra | Glow is a dynamic ambient backlight that can be customized for any purpose imaginable.
keywords: Antumbra, Glow, light, AR, backlighting, experience, immersion, colorful, LED, responsive, beautiful, colors
---
%script{:src=>"javascripts/landing.js", :async=>'true'}
%link{:href=>"stylesheets/landing.css", :rel=>'stylesheet'}
%link{:href=>"stylesheets/mobileLanding.css", :rel=>'stylesheet', :type=>'text/css',
      :media=>"only screen and (max-width: 768px), only screen and (max-device-width: 768px)"}
%body#page-top{:data=>{:spy=>'scroll', :target=>'.navbar-fixed-top'}}
    %a{:href=>"//plus.google.com/106064932965666182859", :rel=>"publisher"}
    %nav.navbar.navbar-custom.navbar-fixed-top{:role=>'navigation'}
        #navContainer
            %a.page-scroll{:href=>'#page-top'}
                %img#logotype{:src=>'//s3.amazonaws.com/antumbra-io/logotype_bw.png'}
                %img#hiddenLogotype{:src=>'//s3.amazonaws.com/antumbra-io/logotype_trimmed.png'}
            #navMenu.collapse.navbar-collapse.navbar-right.navbar-main-collapse
                %ul.nav.navbar-nav
                    %li.hidden
                        %a{:href=>'#page-top'}
                    %li
                        %a.page-scroll.dark-text.menu-item.dark-hover#overviewBtn{:href=>'#overview'}
                            Overview
                    %li
                        %a.page-scroll.dark-text.menu-item.dark-hover#aboutBtn{:href=>'#about'}
                            About
                    %li
                        %a.page-scroll.dark-text.menu-item.light-hover#glowVidBtn{:href=>'#glow'}
                            Glow
                    %li
                        %a.page-scroll.dark-text.menu-item.light-hover#FAQBtn{:href=>'#FAQ'}
                            FAQ
                    %li
                        %a.page-scroll.dark-text.menu-item.dark-hover#interestedBtn{:href=>'#interested'}
                            Interested?
                    %li
                        %a.page-scroll.dark-text.menu-item.light-hover#contactBtn{:href=>'#contact'}
                            Contact Us
                    %li
                        %a.dark-text.menu-item.dark-hover#blogBtn{:href=>'/blog/'}
                            Dev Blog
                    %li
                        %a.dark-text.menu-item.light-hover#buyNowBtn{:href=>'//antumbra.myshopify.com/products/glow-pre-order'}
                            Pre-Order
    %section.intro
        .intro-body
            .container
                .row
                    .col-md-8.col-md-offset-2.text-center
                        %h3.grey-text
                            Don't let eyestrain limit how long
                            %br
                            you can work or play
                        %br
                        %h2.red-text
                            Fight back with Glow.
                        %a#scrollBtn.page-scroll.btn.fa.fa-angle-down.fa-5x{:href=>'#glowVid'}
    %section#overview.container
        %video#introVid{:src=>'//s3.amazonaws.com/antumbra-io/background.webm',
        :controls=>'true'}
        .row
            #introSubTxt.text-center
                %h2.blue-text
                    Work longer, Game harder, Feel better.
                %p.pad-top-2.grey-text
                    Glow illuminates the wall behind your
                    monitor, creating a seamless transition from dark
                    environment to bright display.  An extension store coupled
                    with highly customizable open-source software allows you to take
                    your desk into the future, and define your computing
                    experience like never before.
    %section#about.container
        #slick.slick
            %div
                %img.full{:src=>"//s3.amazonaws.com/antumbra-io/Introducing-Glow.png",
                :alt=>"Introducing Glow. Stunning visuals. Comfortable " + |
                "eyes. The $35 ambient backlight."}                        |
            %div
                %img.full{:src=>"//s3.amazonaws.com/antumbra-io/AntumBackBlue.png",
                :alt=>"Up and running in moments. Mount. Install. Enjoy." + |
                "Simply stick Glow to your monitor, plug in the USB cable"+ |
                "and install the software. Enjoy media like never before" + |
                "fin just minutes."}                                        |
            %div
                %img.full{:src=>"//s3.amazonaws.com/antumbra-io/ResponsiveModeBlue.png",
                :alt=>"Responsive mode.  The best way to watch movies and"+   |
                "play games. Using software that ties into the OS, Antumbra"+ |
                "analyzes colors on the display in real time, projecting" +   |
                "them behind your monitor as fast as they appear on screen."+ |
                "Content on the display blends into your peripheral vision,"+ |
                "creating an immersive experience like no other.  Surround" + |
                "sound for your eyes is finally here."}                       |
            %div
                %img.full{:src=>"//s3.amazonaws.com/antumbra-io/PaletteFadeBlue.png",
                :alt=>"Palette and Fade.  Define your workspace. Tired," +    |
                "strained eyes make work unbearable.  Glow is the antidote."+ |
                "Choose a color and brightness that suits your mood, or" +    |
                "have it fade gently over subtle, comfortable gradients." +   |
                "In Sunset mode, Glow slowly ramps up in brightness as the" + |
                "sun sets, perfectly augmenting software like f.lux and" +    |
                "keeping you productive well into the AM."}                   |
    %script{:src=>"/javascripts/slick.js", :async=>'true'}
    %section#glowVidSection.container.text-center
        .row
            #glow.col-lg-offset-2.navPadded
                .videoWrapper169
                    %iframe#glowVid{:src=>"https://player.vimeo.com/video/108070048?portrait=0&amp;color=ff9933",
                    :width=>3840, :height=>2160, :frameborder=>0,
                    :webkitallowfullscreen=>true, :mozallowfullscreen=>true,
                    :allowfullscreen=>true}
                %h1.grey-white
                    Introducing Glow.
                %h3.grey
                    Stunning visuals.  Comfortable eyes.
    %section#seeTheDifference.container
        #difference-container
            #titleContainer
                %h1#diffTitle
                    Experience the Difference
                %div#subTitleContainer
                    %h4#diffSubTitle
                        (Hover mouse for effect)
                    %h5#diffSubMobileTitle
                        (Tap for effect)
            #fade.smooth
                %img#fadeImg.smooth{:src=>"https://s3.amazonaws.com/antumbra-io/unlit.png",
                :alt=>"Experience the Difference of Antumbra | Glow"}
    %section#hardware.container.content-section.text-center
        .row
            .col-lg-8.col-lg-offset-2
                %img#glow_render{:src=>"//s3.amazonaws.com/antumbra-io/glow_render.png"}
                %h2.text-center
                    %b
                        Sleek Design.
                %h3#lightPurpTxt.text-center
                    Functional Hardware.
                %br
                %br
                %p
                    Measuring under 1.5&quot; x 1.5&quot; x 0.5&quot;,
                    Glow is small and portable, perfect for laptop users who
                    need to set up on the go.  A single high-brightness RGB
                    LED illuminates the entire wall behind the monitor,
                    sipping a mere 2.2w of power, but appearing nearly as
                    bright as a 30w incandescent bulb.  Data is delivered
                    over USB to the device, meaning that Glow is fast,
                    reliable and compatible with every major platform.  We&#39;ve
                    worked hard to make it simple - setup only takes 30 seconds,
                    and configuration only another couple minutes at
                    most - letting you start enjoying content like never
                    before in just moments.
    %section#FAQ.container.content-section
        .row
            .col-lg-8.col-lg-offset-2
                %h1.text-center
                    FAQ
            -data.faqs.faqs.each do |q|
                = partial('layouts/faq_item',                         |
                :locals => {                                          |
                :question => q.question,                              |
                :answer => q.answer})                                 |
                -#
    %section#interested.container.text-center
        .interested-section
            .container
                .col-lg-8.col-lg-offset-2
                    %h2
                        Interested?
                    %p
                        Join our mailing list. We&#39;ll keep you posted.
                    :plain
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//antumbra.us9.list-manage.com/subscribe/post?
                            u=edc8572362936e2af0b5c904f&amp;id=00da3a3ac0"
                            method="post" id="mc-embedded-subscribe-form"
                            name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                        placeholder="Email Address" required>
                        <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_edc8572362936e2af0b5c904f_00da3a3ac0" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <br>
                            <input type="submit" value="Subscribe" name="subscribe"
                            id="mc-embedded-subscribe" class="btn btn-default">
                        </div>
                        </form>
                        </div>
                        <!--End mc_embed_signup-->
                    %br
                    %p
                        Pre-order your final unit now!
                        %br
                        %br
                        Expected Delivery:
                        %a.darkOnHover.noDecoration{:href=>'/blog/'}
                            %i
                                Check the Dev blog & Roadmap.
                        %br
                        %br
                            Free shipping inside the USA. $15 International.
    %section#contact.container.text-center.content-section
        .row
            .col-lg-8.col-lg-offset-2
                %h2
                    Contact Antumbra
                %p
                    Feel free to email us to provide some feedback on our
                    product, give us suggestions for new features, or to
                    just say hello!
                %p
                    %a.noDecoration.redOnHover{:href=>'mailto:contact@antumbra.io'}
                        contact@antumbra.io
                %ul.list-inline.banner-social-buttons
                    %li
                        %a.btn.instagram{:href=>"https://instagram.com/teamantumbra"}
                            %i.fa.fa-instagram.fa-5x
                    %li
                        %a.btn.pinterest{:href=>"http://www.pinterest.com/TeamAntumbra/"}
                            %i.fa.fa-pinterest.fa-5x
                    %li
                        %a.btn.twitter{:href=>"https://twitter.com/TeamAntumbra"}
                            %i.fa.fa-twitter.fa-5x
                    %li
                        %a.btn.youtube{:href=>"https://www.youtube.com/channel/UCAPpQBc5wel1EhvTwi7f5Vw"}
                            %i.fa.fa-youtube-play.fa-5x
                    %li
                        %a.btn.gplus{:href=>"https://plus.google.com/106064932965666182859/about"}
                            %i.fa.fa-google-plus.fa-5x
                    %li
                        %a.btn.vimeo{:href=>"https://vimeo.com/teamantumbra"}
                            %i.fa.fa-vimeo-square.fa-5x
                %ul.list-inline.banner-social-buttons
                    %li
                        %a.btn.github{:href=>"https://github.com/TeamAntumbra"}
                            %i.fa.fa-github.fa-5x
                    %li
                        %a.btn.facebook{:href=>"https://www.facebook.com/teamantumbra"}
                            %i.fa.fa-facebook-square.fa-5x
                    %li
                        %a.btn.angellist{:href=>"https://angel.co/antumbra"}
                            %i.fa.fa-angellist.fa-5x
    %section#aboutUs.container.content-section.text-center
        #aboutUs-container.row
            .col-lg-8.full
                %h1
                    About Us
                %br
                %h5.aboutUsText
                    Antumbra was created after winning the AngelHack Boston `14
                    competition, earning us a spot in their &quot;Hackcelerator&quot;
                    pre-accelerator program.
                #team
                    #davis.teamMember
                        #davisFace.teamMemberImage
                            %img#davisFaceImg{:src=>"https://s3.amazonaws.com/antumbra-io/davis.jpg"}
                        %p.name
                            Davis Foster
                        %p.title
                            Hardware Engineer
                        %ul.list-inline.banner-social-buttons
                            %a.mini-social-item.btn.angellist{:href=>"https://angel.co/davis-foster"}
                                %i.fa.fa-angellist.fa-2x
                            %a.mini-social-item.btn.email{:href=>"mailto:davis@antumbra.io"}
                                %i.fa.fa-envelope-o.fa-2x
                            %a.mini-social-item.btn.github{:href=>"https://github.com/DavisFoster"}
                                %i.fa.fa-github-alt.fa-2x
                            %a.mini-social-item.btn.linkedin{:href=>"https://www.linkedin.com/pub/davis-foster/83/75b/3b2"}
                                %i.fa.fa-linkedin.fa-2x
                    #adam.teamMember
                        #adamFace.teamMemberImage
                            %img#adamFaceImg{:src=>"https://s3.amazonaws.com/antumbra-io/adam.jpg"}
                        %p.name
                            Adam Walsh
                        %p.title
                            Windows Software Engineer
                        %ul.list-inline.banner-social-buttons
                            %a.mini-social-item.btn.angellist{:href=>"https://angel.co/adamwalsh"}
                                %i.fa.fa-angellist.fa-2x
                            %a.mini-social-item.btn.email{:href=>"mailto:adam@antumbra.io"}
                                %i.fa.fa-envelope-o.fa-2x
                            %a.mini-social-item.btn.github{:href=>"https://github.com/walshie4"}
                                %i.fa.fa-github-alt.fa-2x
                            %a.mini-social-item.btn.linkedin{:href=>"https://www.linkedin.com/pub/adam-walsh/36/3a1/b8a/"}
                                %i.fa.fa-linkedin.fa-2x
                    #sam.teamMember
                        #samFace.teamMemberImage
                            %img#samFaceImg{:src=>"https://s3.amazonaws.com/antumbra-io/sam.jpg"}
                        %p.name
                            Sam Harada
                        %p.title
                            Embedded Software Engineer
                        %ul.list-inline.banner-social-buttons
                            %a.mini-social-item.btn.angellist{:href=>"https://angel.co/sam-harada"}
                                %i.fa.fa-angellist.fa-2x
                            %a.mini-social-item.btn.email{:href=>"mailto:sam@antumbra.io"}
                                %i.fa.fa-envelope-o.fa-2x
                            %a.mini-social-item.btn.github{:href=>"https://github.com/pharada"}
                                %i.fa.fa-github-alt.fa-2x
                            %a.mini-social-item.btn.linkedin{:href=>"https://www.linkedin.com/pub/samuel-harada/7b/62b/749"}
                                %i.fa.fa-linkedin.fa-2x
                    #nick.teamMember
                        #nickFace.teamMemberImage
                            %img#nickFaceImg{:src=>"https://s3.amazonaws.com/antumbra-io/nick.jpg"}
                        %p.name
                            Nick Peretti
                        %p.title
                            OS X Software Engineer
                        %ul.list-inline.banner-social-buttons
                            %a.mini-social-item.btn.angellist{:href=>"https://angel.co/nick-peretti"}
                                %i.fa.fa-angellist.fa-2x
                            %a.mini-social-item.btn.email{:href=>"mailto:nick@antumbra.io"}
                                %i.fa.fa-envelope-o.fa-2x
                            %a.mini-social-item.btn.github{:href=>"https://github.com/qwertyflagstop"}
                                %i.fa.fa-github-alt.fa-2x
                            %a.mini-social-item.btn.linkedin{:href=>"https://www.linkedin.com/pub/nick-peretti/a6/608/b89"}
                                %i.fa.fa-linkedin.fa-2x
                    #michel.teamMember
                        #michelFace.teamMemberImage
                            %img#michelFaceImg{:src=>"https://s3.amazonaws.com/antumbra-io/michel.jpg"}
                        %p.name
                            Michel Rodriguez
                        %p.title
                            Business Development
                        %ul.list-inline.banner-social-buttons
                            %a.mini-social-item.btn.angellist{:href=>"https://angel.co/michel-rodriguez-1"}
                                %i.fa.fa-angellist.fa-2x
                            %a.mini-social-item.btn.email{:href=>"mailto:michel@antumbra.io"}
                                %i.fa.fa-envelope-o.fa-2x
                            %a.mini-social-item.btn.linkedin{:href=>"https://www.linkedin.com/pub/michel-rodriguez/5b/716/199"}
                                %i.fa.fa-linkedin.fa-2x
        %div#subAboutText.text-center
            %p.aboutUsText
                We won the hackathon with our ambient
                backlight concept, dubbed Glow - a small device you mount
                behind your screen, designed to illuminate the wall behind
                a computer monitor or TV.
                %br
                %br
                    On October 24th, 2014 we competed in the
                    RIT Tiger Tank competition, and were awarded 1st place!
                %br
                    On October 30th, 2014 we pitched at the AngelHack Global Demo
                    Day 2014, hosted @ USF.
    %footer
        .container.text-center
            %p
                Copyright &copy; Antumbra Technologies Inc., 2015
                %br
                %small
                    Website experience best with Glow.
